    /*-----------------------------------
    google fonts start------------------------------*/

    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

    /*--------------------------------------------------------
    google fonts end----------------------------------------------*/




    /*-----------------------------------------------
    custom codes start------------------------------------------*/
            body{
                font-family: poppins;

            }
            h1{
                font-weight: bolder;
            }
    /*-----------------------------------------------
    custom codes end------------------------------------------*/




    /*-----------------------------------------------
    header start------------------------------------------*/
            header{
                background-color: #264653;
            
            
            }
            .banner-title{
                font-weight: 600;
            }
            .banner-description{
                color: #E0E0E0;
                font-size: 15px;
                width: 345px;
            }
            .button-purchase{
            background-color:#E76F51;
            padding: 5px 50px;
            }
            .banner-image{
                margin-bottom: 3c0px;
                margin-top: 50px;
            }
    /*-----------------------------------------------
    header end------------------------------------------*/




    /*-----------------------------------------------
    featured-bike start------------------------------------------*/
            .featured{
                font-weight: 600;
                margin-top: 100px;
            }
            .gray-image{
                filter: grayscale(100%);
                margin-right: 90px;
               
            }
            .feature-image{
                margin-top: 70px;
            }
    /*-----------------------------------------------
    featured-bike end------------------------------------------*/




    /*-----------------------------------------------
    happy-client start------------------------------------------*/
            .client{
                margin-top: 100px;
                margin-bottom: 100px;
                font-size: 48px;
            }

            .icons{
                margin-left: 59px;
            }
            .icons i{
                margin-left: 15px;
                color: orange;
            }
            .card-text{
                width: 200px !important;
                margin-left: 70px;
            }
            
    /*-----------------------------------------------
    happy-client end------------------------------------------*/




    /*-----------------------------------------------
    frequent-ask  start------------------------------------------*/
            .frequently{
                margin-top: 100px;
            }
            .frequent-title{
                font-size: 40px;
            }
    /*-----------------------------------------------
    frequently-ask end------------------------------------------*/




    /*-----------------------------------------------
    brands start------------------------------------------*/
            .brands{
                margin-top: 100px;
            }
    /*-----------------------------------------------
    brands end------------------------------------------*/




    /*-----------------------------------------------
    get in touch start------------------------------------------*/
            .touch{
                margin-top: 100px;
            }
    /*-----------------------------------------------
    get in touch end------------------------------------------*/




    /*-----------------------------------------------
    footer start------------------------------------------*/
            footer{
                background-color: black;
                margin-top: 100px;
                padding-top: 20px;
            }
    /*-----------------------------------------------
    footer end------------------------------------------*/

    .accordion-button:not(.collapsed) {
        color: black;
    }